[Unit]
Description={{ description }}
Documentation={{ github_repo_url }}
After=network.target

[Service]
Type=simple
EnvironmentFile=/opt/{{ venv }}/runtime.env
ExecStart=/opt/{{ venv }}/bin/{{ bin }}
User=tor_bot
Group=bots
WorkingDirectory=/tmp
KillSignal=SIGINT
Restart=on-failure
TimeoutStopSec=360
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={{ venv }}

[Install]
WantedBy=multi-user.target
